@model OnlineLearningSystem.Models.PermissionCategory
@{
    ViewBag.Title = "编辑权限目录";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div class="pd-20">
    @using (Html.BeginForm("Edit", "PermissionCategory", FormMethod.Post, new { name = "create", @class = "form form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.PC_Id)
        @Html.HiddenFor(m => m.PC_AutoId)
        @Html.HiddenFor(m => m.PC_Level)
        @Html.HiddenFor(m => m.PC_AddTime)
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.PC_Status)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.PC_Status, "Status")
                </span>
                @Html.ValidationMessageFor(m => m.PC_Status)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.PC_Name)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.PC_Name, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.PC_Name)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                操作权限
            </label>
            <div class="formControls col-10">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr>
                            <th class="text-c" style="width: 10px;">
                                <input type="checkbox" name="" value="" />
                            </th>
                            <th>
                                控制器
                            </th>
                            <th>
                                行为
                            </th>
                            <th>
                                描述
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ActionPermissions)
                        {
                            <tr>
                                <td class="text-c">
                                    <input type="checkbox" />
                                </td>
                                <td>@item.ControllerName
                                </td>
                                <td>@item.ActionName
                                </td>
                                <td>@item.Description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.HiddenFor(m => m.PC_Permissions)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.PC_Remark)
            </label>
            <div class="formControls col-4">
                @Html.TextAreaFor(m => m.PC_Remark, new { @class = "textarea" })
                @Html.ValidationMessageFor(m => m.PC_Remark)
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="@Url.Content("~/Content/lib/datatables/1.10.9/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/ActionPermission/List.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/PermissionCategory/Edit.js")"></script>
