@model OnlineLearningSystem.Models.Question
<div class="row cl">
    <label class="form-label col-2">
        @Html.LabelFor(m=>m.Q_ModelAnswer)</label>
    <div class="formControls col-6">
        @{
            
            Dictionary<String, String> optionalAnswer;

            optionalAnswer = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<String, String>>(Model.Q_OptionalAnswer);

            switch (Model.Q_Type)
            {
                case "单选题":

                    foreach (KeyValuePair<String, String> kv in optionalAnswer)
                    {
                        
                        @Html.Raw("<input type=\"checkbox\" value=\"" + kv.Key + "\" />" + kv.Value);
                    }
                    break;
                case "多选题":
                    foreach (KeyValuePair<String, String> kv in optionalAnswer)
                    {
                        
                        @Html.Raw("<input type=\"checkbox\" value=\"" + kv.Key + "\" />" + kv.Value);
                    }
                    break;
                case "判断题":
                    @Html.Raw("");
                    break;
                default:
                    @Html.TextArea("", null == Model.Q_ModelAnswer ? "" : Model.Q_ModelAnswer, new { @class = "textarea" })
                    break;
            }
        }
        @{/*Html.RenderPartial("UEditor");*/}
        @{/*Html.TextArea("", null == Model ? "" : Model, new { @class = "textarea" })*/}
    </div>
</div>
