<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/html5.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/respond.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/PIE_IE678.js")"></script>
    <![endif]-->
    <link href="@Url.Content("~/Content/css/H-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/H-ui.admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/icheck/icheck.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/Hui-iconfont/1.0.1/iconfont.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/webuploader/0.1.5/webuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/Validation/1.8.0/validate.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/DD_belatedPNG_0.0.8a-min.js")"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery/1.9.1/jquery.min.js")"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/Content/lib/js.string.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/layer/1.9.3/layer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/My97DatePicker/WdatePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/icheck/jquery.icheck.min.js")"></script>
    <!--script type="text/javascript" src="@Url.Content("~/Content/lib/Validation/1.8.0/jquery.validate.js")"></script-->
    <!--script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script-->
    <!--script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/Validform/5.3.2/Validform.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/webuploader/0.1.5/webuploader.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/ueditor/1.4.3/ueditor.config.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/ueditor/1.4.3/ueditor.all.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/H-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/H-ui.admin.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/init-common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/custom-page-edit.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/init-page-edit.js")"></script>
</body>
</html>
