@{
    ViewBag.Title = "用户";
    Layout = "~/Views/Shared/_Page.cshtml";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 系统 <span class="c-gray en">&gt;</span> 用户
    <a class="btn btn-success radius r mr-20" 
       style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" 
       title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="tree-list-container">
    <div class="tree-container">
        <ul class="ztree" data-ztree-json="@ViewBag.DepartmentsZTreeJson">
        </ul>
    </div>
    <div class="list-container list-body pd-20">
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr>
                        <th class="text-c">
                            <input type="checkbox" name="" value="" />
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            用户名
                        </th>
                        <th>
                            身份证号
                        </th>
                        <th>
                            添加时间
                        </th>
                        <th>
                            职务
                        </th>
                        <th class="text-c">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="cl"></div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/lib/js.datetime.js")"></script>
<link type="text/css" rel="Stylesheet" href="@Url.Content("/Content/lib/zTree_v3/css/metroStyle/metroStyle.css")" />
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.core-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.excheck-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/My97DatePicker/WdatePicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/datatables/1.10.9/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/User/List.js")"></script>
