@model OnlineLearningSystem.ViewModels.VMUserModifyPassword
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div class="pd-20">
    @using (Html.BeginForm("ModifyPassword", "User", FormMethod.Post, new { @class = "form form-horizontal" }))
    {
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.U_OldPassword)
            </label>
            <div class="formControls col-6">
                @Html.PasswordFor(m => m.U_OldPassword, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.U_OldPassword)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.U_Password)
            </label>
            <div class="formControls col-6">
                @Html.PasswordFor(m => m.U_Password, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.U_Password)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.U_RePassword)
            </label>
            <div class="formControls col-6">
                @Html.PasswordFor(m => m.U_RePassword, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.U_RePassword)
            </div>
        </div>    
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
