@model OnlineLearningSystem.ViewModels.VMExaminationTaskPersonalStatistic
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script type="text/javascript" src="@Url.Content("~/Content/lib/js.brower-detection.js")"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/html5.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/respond.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/PIE_IE678.js")"></script>
    <![endif]-->
    <link href="@Url.Content("~/Content/css/H-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/Hui-iconfont/1.0.1/iconfont.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>个人统计</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
</head>
<body>
<div class="form form-horizontal form-personal">
    <div class="row-personal col-4">
        <label class="form-label col-5">
            用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户
        </label>
        <div class="formControls col-6 mt-3 fz-14">
            @Model.ETPS_UserName
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门
        </label>
        <div class="formControls col-6 mt-3 fz-14">
            @Model.ETPS_DepartmentName
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务
        </label>
        <div class="formControls col-6 mt-3 fz-14">
            @Model.ETPS_DutyName
        </div>
    </div>
    <div class="row cl"></div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExaminationTotalNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_ExaminationTotalNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExaminedNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_ExaminedNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_UnexamineNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_UnexamineNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row cl"></div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExaminationPassRatio)
        </label>
        <div class="formControls col-6 fz-18">
            @Html.Raw((Model.ETPS_ExaminationPassRatio * 100).ToString())
            <span class="fz-12">%</span>
        </div>
    </div>
    <div class="row-personal col-4"></div>
    <div class="row-personal col-4"></div>
    <div class="row cl"></div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExerciseTotalNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_ExerciseTotalNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExercisedNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_ExercisedNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_UnexerciseNumber)
        </label>
        <div class="formControls col-6 fz-18">
            @Model.ETPS_UnexerciseNumber
            <span class="fz-12">次</span>
        </div>
    </div>
    <div class="row-personal col-4">
        <label class="form-label col-5">
            @Html.LabelFor(m => m.ETPS_ExercisePassRatio)
        </label>
        <div class="formControls col-6 fz-18">
            @Html.Raw((Model.ETPS_ExercisePassRatio * 100).ToString())
            <span class="fz-12">%</span>
        </div>
    </div>
    <div class="row-personal col-4"></div>
    <div class="row-personal col-4"></div>
    <div class="cl"></div>
</div>
<div class="row cl text-c">
    <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/lib/jquery/1.9.1/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/layer/1.9.3/layer.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/H-ui.admin.js")"></script>
</body>
</html>

