@model OnlineLearningSystem.Models.ExaminationTaskTemplate
@{
    ViewBag.Title = "添加任务模板";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div class="pd-20">
    @using (Html.BeginForm("Create", "ExaminationTaskTemplate", FormMethod.Post, new { name = "create", @class = "form form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ETT_Id)
        @Html.HiddenFor(m => m.ETT_AutoId)
        @Html.HiddenFor(m => m.ETT_EndTime)
        @Html.HiddenFor(m => m.ETT_AddTime)
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Status)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ETT_Status, "Status")
                </span>
                @Html.ValidationMessageFor(m => m.ETT_Status)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Name)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ETT_Name, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ETT_Name)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Type)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ETT_Type, "ExaminationTaskType")
                </span>
                @Html.ValidationMessageFor(m => m.ETT_Type)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Mode)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ETT_Mode, "ExaminationTaskMode")
                </span>
                @Html.ValidationMessageFor(m => m.ETT_Mode)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_DifficultyCoefficient)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ETT_DifficultyCoefficient, "ExaminationTaskDifficultyCoefficient")
                </span>
                @Html.ValidationMessageFor(m => m.ETT_DifficultyCoefficient)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Attendee)
            </label>
            <div class="formControls col-2">
                <ul id="DepartmentsAndUsers" class="ztree" value='@ViewBag.DepartmentsAndUsers'>
                </ul>
                @Html.HiddenFor(m => m.ETT_ParticipatingDepartment)
                @Html.ValidationMessageFor(m => m.ETT_ParticipatingDepartment)
                @Html.HiddenFor(m => m.ETT_Attendee)
                @Html.ValidationMessageFor(m => m.ETT_Attendee)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_AutoType)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ETT_AutoType, "ExaminationTaskAutoType")
                </span>
                @Html.ValidationMessageFor(m => m.ETT_AutoType)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_AutoOffsetDay)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ETT_AutoOffsetDay, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ETT_AutoOffsetDay)
            </div>
        </div>T
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_StartTime)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ETT_StartTime, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ETT_StartTime)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_TimeSpan)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ETT_TimeSpan, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ETT_TimeSpan)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ETT_Remark)
            </label>
            <div class="formControls col-4">
                @Html.TextAreaFor(m => m.ETT_Remark, new { @class = "textarea" })
                @Html.ValidationMessageFor(m => m.ETT_Remark)
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" />
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<link type="text/css" rel="Stylesheet" href="@Url.Content("/Content/lib/zTree_v3/css/metroStyle/metroStyle.css")" />
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.core-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.excheck-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/ExaminationTaskTemplate/Edit.js")"></script>
