@{
    ViewBag.Title = "试卷";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div id="ExaminationPaperContainer">
    <div id="TypeList">
        <ul class="Huifold">
        </ul>
    </div>
    <div id="QuestionList">
    </div>
</div>
<!--link type="text/css" rel="Stylesheet" href="@Url.Content("/Contents/lib/swiper_3.1.0/css/swiper.css")" /-->
<link type="text/css" rel="Stylesheet" href="@Url.Content("/Contents/lib/swiper_2.7.0/idangerous.swiper.css")" />
<script type="text/javascript" src="@Url.Content("/Contents/lib/jquery-tmpl/jquery.tmpl.min.js")"></script>
<!--script type="text/javascript" src="@Url.Content("/Contents/lib/js.array.js")"></script>
<script type="text/javascript" src="@Url.Content("/Contents/lib/js.classlist.js")"></script>
<script type="text/javascript" src="@Url.Content("/Contents/lib/js.datetime.js")"></script-->
<!--script type="text/javascript" src="@Url.Content("/Contents/lib/swiper_3.1.0/js/swiper.min.js")"></script-->
<script type="text/javascript" src="@Url.Content("/Contents/lib/swiper_2.7.0/idangerous.swiper.js")"></script>
<script type="text/javascript" src="@Url.Content("/Contents/lib/jquery.timers-1.2.js")"></script>
<script type="text/javascript" src="@Url.Content("/Contents/js/ExaminationPaper/Paper.js")"></script>
<script id="TypeItemTmpl" type="text/x-jquery-tmpl">
    <li id="Item_${i}" class="item" data-item-index="${i}">
        <h4>${type}(<span data-id="Done">${done}</span>/<span data-id="Total">${total}</span>)<b>+</b></h4>
        <div class="info">
            {{each questions}}
            <div class="info-item"><a href="javascript:void(0);" data-question-index="${$value.i}">${$value.i+1}</a></div>
            {{/each}}
        </div>
    </li>
</script>
<script id="QuestionListTmpl" type="text/x-jquery-tmpl">
    <div id="Questions_${i}" class="swiper-container hide" data-questions-index="${i}">
        <div class="swiper-wrapper">
        {{tmpl(questions) '#QuestionTmpl'}}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-container">
            <button class="btn btn-primary radius swiper-button-question swiper-button-prev-question ml-80 mr-10" type="button">上一题</button>
            <button class="btn btn-primary radius swiper-button-question swiper-button-next-question mr-30" type="button">下一题</button>
            <button class="btn btn-primary radius f-r paper-hand-in mr-20" type="button">交卷</button>
        </div>
    </div>
</script>
<script id="QuestionTmpl" type="text/x-jquery-tmpl">
    <div id="Question_${EPTQ_Id}" class="swiper-slide" data-question-id="${EPTQ_Id}" data-question-type="${EPTQ_Type}">
        <div class="question">
            <div class="col-12 cl question-content">
                <div class="col-12"><span class="tip">题</span>{{html EPTQ_Content}}</div>
            </div>
            <div class="col-12 cl question-answer">
                <div class="col-12">
                    <span class="tip">答</span>
                    {{if EPTQ_Type == '单选题'}}
                        {{each(i, oa) EPTQ_OptionalAnswer}}
                        <span class="mr-10"><input type="radio" name="question_radios_${EPTQ_Id}" value="${oa.key}" class="mr-5" />${oa.key}.${oa.text}</span>
                        {{/each}}
                    {{else EPTQ_Type == '多选题'}}
                        {{each(i, oa) EPTQ_OptionalAnswer}}
                        <span class="mr-10"><input type="checkbox" name="question_checkboxs_${EPTQ_Id}" value="${oa.key}" class="mr-5" />${oa.key}.${oa.text}</span>
                        {{/each}}
                    {{else EPTQ_Type == '判断题'}}
                    <span class="mr-10"><input type="radio" name="question_radios_${EPTQ_Id}" value="√" class="mr-5" />√</span>
                    <span class="mr-10"><input type="radio" name="question_radios_${EPTQ_Id}" value="×" class="mr-5" />×</span>
                    {{else EPTQ_Type == '公文改错题' || EPTQ_Type == '计算题' || EPTQ_Type == '案例分析题' || EPTQ_Type == '问答题'}}
                    <br />
                    <textarea name="question_textarea_${EPTQ_Id}" class="textarea" cols="20" rows="2"></textarea>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>
