@model OnlineLearningSystem.Models.ExaminationPaperTemplate
@{
    ViewBag.Title = "添加试卷模板";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div class="pd-20">
    @using (Html.BeginForm("Edit", "ExaminationPaperTemplate", FormMethod.Post, new { name = "create", @class = "form form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.EPT_Id)
        @Html.HiddenFor(m => m.ET_Id)
        @Html.HiddenFor(m => m.ET_Type)
        @Html.HiddenFor(m => m.EPT_PaperTemplateStatus)
        @Html.HiddenFor(m => m.EPT_StartTime)
        @Html.HiddenFor(m => m.EPT_EndTime)
        @Html.HiddenFor(m => m.EPT_TimeSpan)
        @Html.HiddenFor(m => m.EPT_AutoId)
        @Html.HiddenFor(m => m.EPT_AddTime)
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.EPT_Status)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.EPT_Status, "Status")
                </span>
                @Html.ValidationMessageFor(m => m.EPT_Status)
            </div>
        </div>
        <!--div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.EPT_StartTime)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.EPT_StartTime, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.EPT_StartTime)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.EPT_TimeSpan)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.EPT_TimeSpan, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.EPT_TimeSpan)
            </div>
        </div-->
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.EPT_Questions)
            </label>
            <div class="formControls col-10">
                <table class="table table-border table-bordered table-bg table-hover table-sort question-table"
                    value-selector="#EPT_Questions">
                    <thead>
                        <tr>
                            <th class="text-c">
                                <input type="checkbox" name="" value="all" />
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                题型
                            </th>
                            <th>
                                分类
                            </th>
                            <th>
                                添加时间
                            </th>
                            <th>
                                试题
                            </th>
                            <th>
                                难度系数
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @Html.HiddenFor(m => m.EPT_Questions)
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="@Url.Content("~/Content/lib/js.datetime.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/datatables/1.10.9/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/ExaminationPaperTemplate/Edit.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/Question/ListSelect.js")"></script>
