@{
    ViewBag.Title = "试题库";
    Layout = "~/Views/Shared/_Page.cshtml";
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 试题管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="question-container">
<div class="question-classify-list-container">
    <ul class="ztree" data-value="@ViewBag.QuestionClassifies"></ul>
</div>
<div class="question-list-container">
    <div id="FunctionPanel" class="cl pd-5 bg-1 bk-gray hide">
        <span class="l">
            <a id="CreateBtn" class="btn btn-primary radius" href="javascript:;">
               <i class="Hui-iconfont">&#xe600;</i> 添加试题 
            </a>
            <a id="DocxUploadBtn" class="btn btn-primary radius" href="javascript:;">
               <i class="Hui-iconfont">&#xe642;</i> 导入试题 
            </a>
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort question-table">
            <thead>
                <tr>
                    <th class="text-c">
                        <input type="checkbox" name="" value="" />
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        题型
                    </th>
                    <th>
                        分类
                    </th>
                    <th>
                        添加时间
                    </th>
                    <th>
                        试题
                    </th>
                    <th>
                        难度系数
                    </th>
                    <th class="text-c">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="cl"></div>
</div>
<div id="QuestionImportPanel" class="row cl col-12 pos-f top hide" style="background:#FFF;z-index:999;">
    <div class="line mb-10" style="border-color:#D5D5D5;">
    </div>
    <div class="col-12 mb-20 pr-20">
        <button id="CacheClearBtn" class="btn btn-default radius f-r" type="button">
            &nbsp;&nbsp;放弃&nbsp;&nbsp;</button>
        <button id="CacheImportBtn" class="btn btn-secondary radius f-r mr-10" type="button">
            &nbsp;&nbsp;确认导入&nbsp;&nbsp;</button>
    </div>
</div>
</div>
<link type="text/css" rel="Stylesheet" href="@Url.Content("/Content/lib/zTree_v3/css/metroStyle/metroStyle.css")" />
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.core-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.excheck-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/js.datetime.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/My97DatePicker/WdatePicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/datatables/1.10.9/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/js.request.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/Question/List.js")"></script>
