@model OnlineLearningSystem.Models.ExaminationTask
@{
    ViewBag.Title = "添加考试任务";
    Layout = "~/Views/Shared/_PageEdit.cshtml";
}
<div class="pd-20">
    @using (Html.BeginForm("Create", "ExaminationTask", FormMethod.Post, new { name = "create", @class = "form form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ET_Id)
        @Html.HiddenFor(m => m.ET_AutoId)
        @Html.HiddenFor(m => m.ET_EndTime)
        @Html.HiddenFor(m => m.ET_AddTime)
        @Html.HiddenFor(m => m.ET_PaperTemplates)
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Status)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_Status, "Status")
                </span>
                @Html.ValidationMessageFor(m => m.ET_Status)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Name)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ET_Name, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ET_Name)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Template)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.DropDownListFor(m => m.ET_Template, (List<SelectListItem>)ViewBag.ExaminationTaskTemplates, new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Type)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_Type, "ExaminationTaskType")
                </span>
                @Html.ValidationMessageFor(m => m.ET_Type)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Attendee)
            </label>
            <div class="formControls col-10">
                <ul id="DepartmentsAndUsers" class="ztree" data-value='@ViewBag.DepartmentsAndUsers'>
                </ul>
                <div class="cl"></div>
                @Html.HiddenFor(m => m.ET_ParticipatingDepartment)
                @Html.ValidationMessageFor(m => m.ET_ParticipatingDepartment)
                <div class="cl"></div>
                @Html.HiddenFor(m => m.ET_Attendee)
                @Html.ValidationMessageFor(m => m.ET_Attendee)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_StatisticType)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_StatisticType, "ExaminationTaskStatisticType")
                </span>
                @Html.ValidationMessageFor(m => m.ET_StatisticType)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_TotalScore)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ET_TotalScore, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ET_TotalScore)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_TotalNumber)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ET_TotalNumber, new { @class = "input-text" })
                @Html.ValidationMessageFor(m => m.ET_TotalNumber)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Mode)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_Mode, "ExaminationTaskMode")
                </span>
                @Html.ValidationMessageFor(m => m.ET_Mode)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_AutoType)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_AutoType, "ExaminationTaskAutoType")
                </span>
                @Html.ValidationMessageFor(m => m.ET_AutoType)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_AutoOffsetDay)
            </label>
            <div class="formControls col-2">
                <div id="AutoOffsetDayContainer"></div>
                @Html.HiddenFor(m => m.ET_AutoOffsetDay)
                @Html.ValidationMessageFor(m => m.ET_AutoOffsetDay)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_DifficultyCoefficient)
            </label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.EditorFor(m => m.ET_DifficultyCoefficient, "ExaminationTaskDifficultyCoefficient")
                </span>
                @Html.ValidationMessageFor(m => m.ET_DifficultyCoefficient)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_AutoClassifies)
            </label>
            <div class="formControls col-10">
                <ul id="QuestionClassifies" class="ztree" data-value='@ViewBag.QuestionClassifies'>
                </ul>
                <div class="cl"></div>
                @Html.HiddenFor(m => m.ET_AutoClassifies)
                @Html.ValidationMessageFor(m => m.ET_AutoClassifies)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_AutoRatio)
            </label>
            <div class="formControls col-10">
                <div id="RatioContainer"></div>
                @Html.HiddenFor(m => m.ET_AutoRatio)
                @Html.ValidationMessageFor(m => m.ET_AutoRatio)
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_StartTime)
            </label>
            <div class="formControls col-10">
                <div id="StartTime" class="time-picker"></div>
                @Html.HiddenFor(m => m.ET_StartTime)
                @Html.ValidationMessageFor(m => m.ET_StartTime)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_TimeSpan)
            </label>
            <div class="formControls col-2">
                @Html.TextBoxFor(m => m.ET_TimeSpan, new { @class = "input-text" }) <span>（单位：分钟）</span>
                @Html.ValidationMessageFor(m => m.ET_TimeSpan)
            </div>
        </div>
        <div id="QuestionListSelectContainer" class="row cl" style="display:none;">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Questions)
            </label>
            <div class="formControls col-10 pt-3">
                <table class="table table-border table-bordered table-bg table-hover table-sort question-table" 
                       value-selector="#ET_Questions">
                    <thead>
                        <tr>
                            <th class="text-c">
                                <input type="checkbox" name="" value="all" />
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                题型
                            </th>
                            <th>
                                分类
                            </th>
                            <!--th>
                                添加时间
                            </th-->
                            <th>
                                试题
                            </th>
                            <th>
                                难度系数
                            </th>
                            <th>
                                分数
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @Html.HiddenFor(m => m.ET_Questions)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">
                @Html.LabelFor(m => m.ET_Remark)
            </label>
            <div class="formControls col-4">
                @Html.TextAreaFor(m => m.ET_Remark, new { @class = "textarea" })
                @Html.ValidationMessageFor(m => m.ET_Remark)
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="@Url.Content("~/Content/lib/js.datetime.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/lib/jquery.timers-1.2.js")"></script>
<link type="text/css" rel="Stylesheet" href="@Url.Content("/Content/lib/zTree_v3/css/metroStyle/metroStyle.css")" />
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.core-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/lib/zTree_v3/js/jquery.ztree.excheck-3.5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/datatables/1.10.9/jquery.dataTables.min.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lib/jtimepicker/css/ui/base/ui.core.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lib/jtimepicker/css/ui/base/ui.theme.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lib/jtimepicker/css/ui/base/ui.slider.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/lib/jtimepicker/css/jquery.timepicker.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/lib/jtimepicker/lib/jquery.jtimepicker.bundle.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/Question/ListSelect.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/ExaminationTask/Edit.js")"></script>
